*{

    border: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EDEDED;
    font-family: 'Lato', sans-serif;

}
body{

    overflow-y: hidden;

}
a:link, a:visited{

    text-decoration: none;
    font-weight: bold;
    color: gray;

}
.centro{

    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 2%;
    justify-content: space-evenly;

}
.logo{

    width: 60px;
    height: auto;
    border-radius: 50%;

}
.logo--div{

    width: 50%;

}
.menu{

    padding-top: 20px;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}
